@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.youtube-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.top-container {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 1rem 2rem 2rem;

}

.top-left {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
}

.icon {
    width: fit-content;
    height: auto;
}

.icon i {
    font-size: 1.3rem;
    cursor: pointer;
}

.logo-container {
    width: 106px;
    height: 24px;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.search-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.form {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

input {
    width: 30rem;
    height: auto;
    padding: 0.8rem 1rem 1rem;
    border-top-left-radius: 12rem;
    border-bottom-left-radius: 12rem;
    border: 1px solid #e3e3e3;
}

.search-icon-container {
    width: fit-content;
    height: auto;
    padding: 1rem 1.5rem 0.7rem 1rem;
    background-color: #f8f8f8;
    border-top-right-radius: 12rem;
    border-bottom-right-radius: 12rem;
}

.search-icon-container i {
    font-size: 1.3rem;
}

.microphone-container {
    width: fit-content;
    height: auto;
    padding: 1rem;
    border-radius: 1000000rem;
    background-color: #f8f8f8;
}

.right-container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1.5rem;
}

.create-icon-container, .notifications-icon {
    width: fit-content;
    height: auto;
}

.create-icon-container {
    font-size: 1.5rem;
    cursor: pointer;
}

.notifications-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.initials {
    width: fit-content;
    height: auto;
    background-color: rgb(213, 95, 95);
    padding: 0.3rem 0.6rem;
    border-radius: 12rem;
    cursor: pointer;
}

.initials h1{
    font-size: 1.5rem;
    font-weight: 400;
    color: white;
}

.bottom-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.sidebar-container {
    width: 42%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    overflow-y: scroll;
}

.first-sidebar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid #e3e3e3;
}

.menu-text{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
    padding: 0.85rem;
    cursor: pointer;    
}

.menu-text:hover {
    background-color: #f8f8f8;
    border-radius: 0.7rem;

}

.second-sidebar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 1rem 0 1rem 1rem;
    border-bottom: 1px solid #e3e3e3;
}

.you-icon-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    column-gap: 1rem;
    padding: 0.85rem;
}

.you-icon-container:hover {
    background-color: #f8f8f8;
    border-radius: 0.7rem;
}

.you-text {
    width: fit-content;
    height: auto;
}

.third-sidebar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 1rem;
    padding: 1rem 0 1rem 1rem;
}

.explore-icon {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
    padding: 0 0.85rem;
}


.explore h1 {
    font-size: 1rem;
    font-weight: 600;
}

.items {
    width: 100%;
    height: auto;
}

.trending-icon {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
    padding: 0.5rem 1rem;
}

.trending-icon:hover {
    background-color: #f8f8f8;
    border-radius: 0.5rem;
}

.content-area {
    width: 58%;
    height: 90vh;
}

.top-content-area {
    width: 100%;
    height: auto;
    padding: 1.5rem 0 1.5rem 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 0.8rem;
}

.all {
    width: fit-content;
    height: auto;
    padding: 0.5rem 0.7rem;
    background-color: #f2f2f2;
    border-radius: 0.5rem;   
}

.all:hover {
    background-color: #d7d7d7;
}

.all p{
    font-size: 1rem;
    font-weight: 500;
}

.all-text {
    width: fit-content;
    height: auto;
    padding: 0.5rem 0.7rem;
    background-color: #000000;
    border-radius: 0.5rem;
    color: white;
}

.all-text p {
    font-size: 1rem;
    font-weight: 500;
}

.you-icon {
    width: fit-content;
    padding: 0.5rem 1rem;
    border-radius: 1000000rem;
}

.you-icon:hover {
    background-color: #d7d7d7;
}

.second-content-area {
    width: 100%;
    height: auto; 
    padding: 0.5rem 0.5rem 0.5rem 1.5rem;  
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 1rem;
    flex-wrap: wrap;
    row-gap: 1rem;
}

.first-card-container {
    width: 30%;
    height: auto;

}

.image-background {
    width: 100%;
    height: auto;
    background-color:#d7d7d7;
    border-radius: 1rem;

}

.first-image-container {
    width: 100%;
    height: 200px;
    background-image: url('./images/Fame\ and\ fury.webp');
    background-position: center;
    background-size: cover;
    background-repeat: none;
    border-radius: 1rem;
}


.image {
    width: 40px;
    height: 40px;
}

.image img {
    width: 30px;
    height: 30px;
    border-radius: 100000rem;
}

.time-stamp {
    width: auto;
    height: auto;
    padding-top: 10rem;
    padding-left: 14rem;
}

.time-stamp p {
    color: white;
    font-weight: 500;
}

.textcard {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 0.6rem;
    padding-top: 1rem;
}

.bold-text-icon {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
}

.bold-text h1 {
    font-size: 1rem;
}

.name-views {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 0.2rem;
    padding: 0.5rem 0;
}

.bimbo p {
    font-size: 1rem;
    color: gray;
}

.views-icon-days {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    column-gap: 0.2rem;
}

.dot-icon {
    font-size: 0.4rem;
    color: gray;
    padding: 0.5rem;
}

.million {
    width: fit-content;
    height: auto;
}
.million p {
    font-size: 1rem;
    color: gray;   
}

.days {
    width: fit-content;
    height: auto;
}

.days p {
    font-size: 1rem;
    color: gray; 
}
